<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BakedRecipes</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
</head>
<body>
   
    <nav class="navbar navbar-expand-lg navbar-custom bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="/blog">BakedRecipes</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link nav-anchor active" aria-current="page" href="/blog">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link nav-anchor" href="./about">About</a>
                  </li>
    
                  <li class="nav-item">
                    <a class="nav-link nav-anchor" href="./contact">Contact Us</a>
                  </li>
                </ul>
                <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>
    <div class= "container row mt-5 text-center" style="margin-left: auto; margin-right: auto;">

        {% for meal in meals %}
            <div class =  "col-lg-4 col-sm-12 mb=3" >
                <div class = "card" style="width:18rem">
                    <img src="{{meal.strMealThumb}}" class="card-img-top" alt "..." />
                    <div class="card-body">
                        <h5 class="card-title">{{meal.strMeal}}</h5>
                        <form method="get" action = "singleMeal">
                            <input type="text" style="display:none" name= "mealID" value="{{meal.idMeal}}"/>
                            <input class="submit-btn btn btn-danger" type="submit" value="Read more"/>
                        </form>
                    </div>
                </div>
            </div>
    
        {%endfor%}
    </div>





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
    <script src="script.js"></script>
</body>
</html>